@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .material-symbols-outlined {
    @apply cursor-pointer align-middle text-neutral-500 dark:text-neutral-400;
  }
}
